<div class="container" align="center">
  <div class="row">
    <div class="col-md-8 offset-md-2 center">
      <h1>Armstrong number</h1>
      <div class="jumbotron">
        In recreational number theory, a narcissistic number (also known as a pluperfect digital invariant (PPDI), an Armstrong number (after Michael F. Armstrong) or a plus perfect number) is a number that is the sum of its own digits each raised to the power of the number of digits. This definition depends on the base b of the number system used, e.g., b = 10 for the decimal system or b = 2 for the binary system.
      </div>
      <%= content_tag 'a', "Let's calculate some of them", role: 'button', class: 'btn btn-primary', href: armstrong_path %>
    </div>
  </div>
</div>
